$primary-color: hsl(10, 79%, 65%);
$primary-bg-color: hsl(33, 100%, 98%);
$secondary-bg-color: hsl(186, 34%, 60%);
$main-bg-color: hsl(27, 66%, 92%);
$primary-font-color: hsl(25, 47%, 15%);
$secondary-font-color: hsl(28, 10%, 53%);
$bg-color: rgb(254, 252, 247);

@import "./header";


body {
    font-family: 'DM Sans', sans-serif;
    background-color: $main-bg-color;
    width: 100vw;
    height: 100vh;
    margin: 0;

}


.spending-section{
    // position: relative;
    // top: 50%;
    background-color: $primary-bg-color;
    width: 38%;
    height: calc(520px - 40px);
    padding: 40px 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
    border-radius: 15px;
    color: $primary-font-color;

    &__header{
        &__title{
            font-size: 26px;
            font-weight: 700;
            margin: 0;
        }
    }

    &__contents{
        position: relative;
        // height: 200px;
        width: 100%;
        // padding:0 0 30px 0;
        // &:after{
        //     position: absolute;
        //     content: " ";
        //     width: 100%;
        //     height: 1px;
        //     // margin-top: 50px;
        //     bottom: 0;
        //     background-color: $secondary-font-color;

        // }
    }

    .separator{
        content: " ";
        background-color: $secondary-font-color;
        height: 1px;
        width: 100%;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &__total{
            &__title{
                margin: 0;
                font-size: 18px;
                font-weight: 400;
                color: $secondary-font-color;
            }
            &__result{
                margin: 0;
                font-size: 40px;
                font-weight: 700;
            }
        }

        &__compare{
            font-size: 18px;
            font-weight: 400;
            text-align: right;
            &__rate{
                margin: 0;
            }
            &__month{
                margin: 0;
                color: $secondary-font-color;

            }
        }
      

    }


}

.chartDiv{
    height: 400px;
    width: 100%;
}

.App{
    position: absolute;
    top:50%;
    left: 50%;
    height: 660px;
    width: 100%;
    transform: translate(-50%,-50%);
    margin-top: auto;
    margin-bottom: auto;
}













.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}